/*
 * DO NOT REMOVE THIS LICENSE
 *
 * This source code is created by Alexander.
 * You can use and modify this source code freely but
 * you are forbidden to change or remove this license.
 *
 * Nick    : Alex
 * YM      : nikolas_alexander@ymail.com
 * Email   : nikolas.l.alexander@gmail.com
 * Blog    : http://www.arkross.com
 * Company : http://mimicreative.net
*/

/*  Global Styles  */
* {
	font-family: "Bitstream Vera Sans", Geneva, Verdana, "DejaVu Sans", sans-serif;
}

body {
/*	background: url('../img/pattern.jpg') repeat;*/
	background: #999;
}

header {
	height: 60px;
}

a, a:hover, a:active, a:visited {
	color: #f6c709;
	text-decoration: none;
}

#messages {
	border: 1px solid red;
	text-align: center;
	background-color: #cccccc;
	color: black;
	display: none;
}

#wrapper {
	margin-top: 10px;
	min-height: 400px;
}

.background-grey {
	background-color: #808080;
	color: white;
}

.important {
	font-weight: bold;
}

.margin-auto {
	margin: auto;
}

section {
	min-height: 420px;
}

.lag {
	background: url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
}

/*  Header Section  */
.sabo-logo {
	background: url('../img/saboteur-beta-logo.png') no-repeat;
	height: 49px;
	margin-top: 5px;
}

#header {
	background-color: #808080;
	-webkit-box-shadow: 0px 5px 5px #000000;
	-moz-box-shadow: 0px 5px 5px #000000;
	box-shadow: 0px 5px 5px #000000;
	color: white;
}

#logged-in {
	padding: 10px;
}

#login-avatar {
	width: 32px;
	height: 32px;
	background-color: black;
	border: 1px solid #f6c709;
	margin: 0px 5px;
}

#menu {
	height: 100%;
}

#menu ul {
	margin: 0px;
	margin-top: auto;
}

#menu li {
	display: inline;
	background-color: black;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid white;
}

/*  Footer Section */
footer {
	font-size: 1.25em;
	float: right;
}
#zmanlogo {
	height: 54px;
	width: 82px;
	margin-top: 19px;
}
#sabocover {
	width: 57px;
	height: 73px;
}

#footer address {
	margin: 0;
}

/*  Room List  */
#room-list{
	margin-top: 20px;
}

#room-list select {
	margin-top: 0px;
}

#room-list option {
	cursor: pointer;
}

#room-list option:nth-child(2n) {
	background-color: #eeeeee;
}

#room-list option:hover {
	background-color: #cccccc;
}

#room-list div, #room-create div {
	margin-bottom: 0px;
}

#room-create {
	margin-top: 20px;
}

#room-create input {
	margin-top: -2px;
	width: 100%;
}

#login-list {
	overflow: auto;
}

#login-list ul {
	margin: 0;
	background: white;
	min-height: 300px;
	border: #808080 1px solid;
	overflow: auto;
}

#login-list li{
	list-style: none;
	padding: 1px 5px;
	border-bottom: 1px solid #808080;
}

#login-list li:nth-child(2n) {
	background-color: #eeeeee;
}

#login-list li:hover {
	background-color: #cccc99;
	cursor: pointer;
}

.tab-top {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 5px;
	font-size: 1.2em;
	text-align: center;
}

/*  Here we go, the game part  */
#board-game {
	background-color: #cccccc;
	border: 2px solid white;
	width: 473px;
	height: 405px;
	overflow: auto;
	white-space: nowrap;
}

.grid {
	width: 42px;
	height: 57px;
	display: inline-block;
	border: 1px solid #808080;
	margin-top: -1px;
	margin-left: -1px;
	margin-bottom: -3px;
	cursor: pointer;
}

.grid:hover {
	border: 2px solid white;
	margin-top: -3px;
	margin-right: -2px;
}

.grid-hover {
	border: 2px solid white;
	margin-top: -3px;
	margin-right: -2px;
}

.grid:active {
	background-color: #f6c709;
}

.grid-active {
	background-color: #f6c709;
}

#player-list ul {
	margin: 0;
}

#player-list li {
	list-style: none;
	width: 285px;
	height: 30px;
	margin-top: 3px;
	margin-left: -1px;
}

#player-list li .player-name:hover {
	background-color: #bbbbbb;
}

.player-hover {
	background-color: #bbb;
}

#player-list li .player-name:active {
	background-color: #f6c709;
}

#player-list li * {
	float: left;
}

#player-list li.active .player-name {
	background-color: white;
}

.player-name {
	cursor: pointer;
	color: #003399;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
	background-color: #cccc99;
	height: 16px;
	width: 120px;
	text-align: right;
	vertical-align: middle;
	padding: 5px;
	border: 1px solid white;
	font-size: 1em;
}

.gold-count {
	padding: 5px;
	font-weight: bold;
}

#round {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
	font-size: 1.2em;
	background-color: #bbcb99;
	border: 2px solid white;
	margin-left: -2px;
	padding: 5px;
}

#cards {
	margin-top: 10px;
}

#hand-cards {
	min-width: 500px;
	min-height: 60px;
}

#hand-cards img:hover {
	margin-top: 0px;
}

#hand-cards img.selected {
	border: 2px solid white;
}

#hand-cards img {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	border: 2px solid transparent;
	cursor: pointer;
}

#discard-pile {
	margin-right: 10px;
}

#discard-cards {
	border: 1px solid transparent;
	height: 67px;
}

#discard-cards:hover {
	border: 1px solid black;
	cursor: pointer;
}
#discard-cards.discard-hover {
	border: 1px solid black;
	cursor: pointer;
}

#discard-count, #deck-count {
	text-align: center;
	font-weight: bold;
}

#actions {
	margin: 5px;
}

#leave {
	color: #003399;
	font-weight: bold;
	cursor: pointer;
}

#playing {
	cursor: pointer;
	font-weight: bold;
}

#playing:hover {
	text-decoration: underline;
}

#confirm-heal li {
	display: inline-block;
	cursor: pointer;
}

.ready {
	background-color: lightblue;
}

.gold-digger {
	background-color: yellow;
}

.saboteur {
	background-color: red;
}

.winner {
	background-color: lightgreen;
}

/*  Chatbox  */
#chatbox {
	width: 173px;
	height: 390px;
	background-color: #cccc99;
	border: 1px solid white;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#switch ul {
	margin-left: 0px;
}

#switch li {
	display: inline;
	margin: 5px 5px;
	cursor: pointer;
	color: #003399;
}

#switch li.active {
	font-weight: bold;
}

#chatlog {
	width: 100%;
	height: 320px;
	background-color: white;
	text-align: left;
	overflow: auto;
}

#chat-input {
	margin-top: 5px;
	width: 95%;
	background-color: white;
}

#chatlog .event-entry {
	display: block;
	font-style: italic;
	color: #808080;
}

#chatlog .chat-entry {
	display: block;
}

#chatlog .sender-name {
	color: #003399;
	display: block;
	font-weight: bold;
}

/* Comments Page */
.comment-block {
	border-bottom: 1px solid white;
}

.comment-block address {
	margin: 0px 0px 5px 0px;
}

.comment-block, .comment-content, .comment-prefix {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}

.comment-author {
	color: #f6c709;
}

.comment-content {
	margin-bottom: 5px;
}

#comment-form {
	margin-top: 10px;
}